@import "_variables";
@import "fonts";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400&family=DM+Serif+Display&display=swap');

html {
    scroll-behavior: smooth;
}

img {
  max-width: 100%;
  width: 100%;
}

body {
  font-family: 'DM Serif Display', serif;
  background-color: #fff;
  padding: 45px; 
}


